<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiro.demo.db.dao.UserMapper">

    <resultMap type="com.hiro.demo.db.entity.User" id="userMap">
        <id column="id" property="id" />
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getUser" resultMap="userMap">
        select * from user where id = #{id}
    </select>

</mapper>